# Activate your virtual environment:
# python -m venv .venv
# .venv\Scripts\Activate.ps1

# Install the dependencies below:
# py -m pip install -r requirements.txt
fastapi
uvicorn
transformers
torch
torchvision
Pillow
accelerate

# Run your app:
# uvicorn main:app --reload
